.main{
    display: flex;
    justify-content: space-between;
    grid-area: h;
}
.main img{
    width: 70px;
}


.login a{
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: rgb(216, 97, 97);
    font-weight: 600;
    font-size: 30px;
}